@model WebMVC.Models.SeleccionViewModel

@{ ViewData["Title"] = "Create"; }

<h1>Create</h1>
<span>@ViewBag.Error</span>
<h4>SeleccionViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Seleccion.Nombre" class="control-label"></label>
                <input asp-for="Seleccion.Nombre" class="form-control" />
                <span asp-validation-for="Seleccion.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seleccion.IdGrupo" class="control-label"></label>
                <input asp-for="Seleccion.IdGrupo" class="form-control" />
                <span asp-validation-for="Seleccion.IdGrupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select name="IdPaisSeleccionado" id="Paises">
                    @foreach (var pais in Model.Paises)
                    {
        <option value="@pais.Id">@pais.Nombre</option>}
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Seleccion.Email" class="control-label"></label>
                <input asp-for="Seleccion.Email" class="form-control" />
                <span asp-validation-for="Seleccion.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seleccion.Telefono" class="control-label"></label>
                <input asp-for="Seleccion.Telefono" class="form-control" />
                <span asp-validation-for="Seleccion.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seleccion.CantidadApostadores" class="control-label"></label>
                <input asp-for="Seleccion.CantidadApostadores" class="form-control" />
                <span asp-validation-for="Seleccion.CantidadApostadores" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
